.controlIcon {
  font-size: 2rem;
  color: #acacac;
  border-radius: 50%;
  border: 2px solid;
}

.controlIcon:hover {
  color: #808080;
  cursor: pointer;
}

.carousel-indicators {
  z-index: 0 !important;
}

.carousel-indicators button {
  border-radius: 50% !important;
  width: 8px !important;
  height: 8px !important;
  background-color: grey !important;
  position: relative;
  bottom: -40px;
}