.divider {
  margin: 0;
}

.noLeftPaddingBtn {
  padding-left: 0 !important;
}

.noLeftPaddingPhone {
  margin-left: auto;
  padding-left: 0 !important;
}

.headerWrapper {
  background-color: #ffffff !important;
}